/* From Uiverse.io by Botwe-Felix5820 */ 
.custom-button {
 height: 2.5em;
 width: 8em;
 border: none;
 border-radius: 0.3em;
 background: #974bdd;
 font-size: 17px;
 color: #ffffff;
 font-family: inherit;
 font-weight: 550;
}

.custom-button:hover {
 animation: shake3856 0.3s linear infinite both;
 .shake-subtle {
  animation: shake-subtle-animation 0.3s linear infinite both;
 }
}

@keyframes shake3856 {
 0% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }

 20% {
  -webkit-transform: translate(-2px, 2px);
  transform: translate(-2px, 2px);
 }

 40% {
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
 }

 60% {
  -webkit-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
 }

 80% {
  -webkit-transform: translate(2px, -2px);
  transform: translate(2px, -2px);
 }

 100% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }
}

.shake-subtle {
 animation: shake-subtle-animation 0.3s linear infinite both;
}

@keyframes shake-subtle-animation {
 0% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }

 20% {
  -webkit-transform: translate(-1px, 1px);
  transform: translate(-1px, 1px);
 }

 40% {
  -webkit-transform: translate(-1px, -1px);
  transform: translate(-1px, -1px);
 }

 60% {
  -webkit-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
 }

 80% {
  -webkit-transform: translate(1px, -1px);
  transform: translate(1px, -1px);
 }

 100% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }
}
