/* From Uiverse.io by LightAndy1 */ 
.package {
  width: 400px;
  height: 260px;
  background-image: linear-gradient(163deg, rgba(255, 0, 255, 0) 0%, rgba(55, 0, 255, 0) 100%);
  border-radius: 20px;
  text-align: center;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.package:hover {
  box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}

.package2 {
  width: 400px;
  height: 260px;
  background-color: #d1e6dd;
  border-radius: 10px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1);
  padding: 15px;
  cursor: pointer;
}

.package2:hover {
  transform: scale(0.98);
  border-radius: 18px;
}

.text {
  color: white;
  font-size: 17px;
}